
extends layout

block content

	#setup-info.center-vertical
		div#info-background
			polyline(points='0,0 100,100 100,0')
		form.well(id='enterInfo', action='/setInfo', method='post')
			h2 Hello!
			h6 Please Enter Your Information

			//Courses

			div#pg1
				h4.category-text Courses
				span.category-desc Enter relevant courses for the types of research jobs you'll apply for.
				.form-group
					input.form-control(type='text', class='course-text', name='course1', placeholder='Course 1')
				.form-group
					input.form-control(type='text', class='course-text', name='course2', placeholder='Course 2')

			//Experience

			div#pg2
				h4.category-text Experience
				span.category-desc List any relevant work experience.
				.form-group
					input.form-control(type='text', id='user-tf', name='experience1')
				.form-group
					input.form-control(type='password', id='pass-tf', name='experience2')

			//Interests

			div#pg3
				h4.category-text Interests
				span.category-desc Enter relevant courses for the types of research jobs you'll apply for.
				.form-group
					input.form-control(type='text', class='course-text', name='course1', placeholder='Interest 1')
				.form-group
					input.form-control(type='text', class='course-text', name='course2', placeholder='Interest 2')

			//Next

			input(type='button', value='Next').btn.btn-primary.btn-nxt#next-button

			//Submit

			.controls#info-submit-button
				button(type='submit').btn.btn-primary.button-sign-in
					span Finish

	include modals/alert
	include modals/lost-password

block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/enterInfo.js')
	script(src='/js/controllers/infoEnterController.js')
