
extends layout

block content

	div#userSettings
		p Img will go here
		h2= udata.name
		div#major
			div.infoTitle Major
			input(type="text" name="majorText").infoText
		div#courses
			div.infoTitle Courses
			input(type="text" name="coursesText").infoText
		div#experience
			div.infoTitle Experience
			input(type="text" name="experienceText").infoText
		div#interests
			div.infoTitle Interests
			input(type="text" name="interestsText").infoText
